
      <h2>Student List</h2>
  
   
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Standard</th>
            <th>Total Marks</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{student.first_name}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.std}}</td>
            <td>{{student.total_marks}}</td>
            <td>{{student.email}}</td>
            <td>
            <button (click) = "updateStudent(student.id)" class = "btn btn-info"> Update</button>
            <button (click)="deleteStudent(student.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
            <button (click)="studentDetails(student.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
   